

/*Global styles
----------------------------*/
body {
    color: #343434;
}
img {
    width: 300px;
}


/*Profile
----------------------------*/
header {
    background: #2F3061;
}

/*Projects
----------------------------*/
.projects {
    background: #F7FFF7;
}

/*Work experience
----------------------------*/
.work-experience

/*Education
----------------------------*/


/*Global styles
----------------------------*/


/*Global styles
----------------------------*/

